body{
	background-color: rgb(255, 255, 255); 
}

#tudo{ /* pagina home*/
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: rgb(50, 50, 50);
}

.grid50{
	width: 50%;
	margin: 0 1em;
	box-sizing: border-box;
}

.grid80{ 
	width: 80%;
	margin: 0 auto;
	box-sizing: border-box;
}

.grid20{
	width: 19%;
	margin: 0 auto;
	padding-right: 1em;
	box-sizing: border-box;
}

.grid80 .grid80, .grid80 .grid20, .grid80 .grid50,.grid80 .grid80 .grid20, .grid80 .grid80 .grid40{
	display: inline-block;
	vertical-align: top;
}

.grid80 .grid80 .grid80{
	vertical-align: bottom;
	margin: 0 auto;
}

.grid40{
	width: 40%;
	margin: 0 1em;
	box-sizing: border-box;
}

#content{ /* página home, fundo dos ícones*/
	background: rgb(50, 50, 50);
	margin-top: 5em;
}

.container, .navbar, .footer, .pagination{ /*Retirando os padrões do grails*/
	display: none;
}

#header{
	width: 100%;
	background-color: rgb(50, 50, 50);
}

#nav, .pergunta{
	width: 80%;
	margin: 0 auto;
	padding: 1em 0;
}

.logo-escopo{ /*logo da home*/
	width: 60%;
	margin: 0 auto;
}

.logo-p-escopo{ /*logo da header*/
	width: 200px;
}

.logo-p-escopo img{ /*imagem da logo*/
	width: 100%;
}

.logo-escopo img{ /*Imagem do header*/
	width: 100%;
	margin-top: 5em;
}

#controllers ul{ /*lista dos ícones da home*/
	width: 100%;
	text-align: center;
}

#controllers ul li{ /*cada icone da home*/
	display: inline-block;
	list-style: none;
	width: 20%;
}

#controllers .btn-default{ /*botões dos ícones da home*/
	background-color: rgb(238, 210, 17);
	border: 0;
	-webkit-transition: linear 0.3s;
	transition: linear 0.3s;
}

#controllers .btn-default:hover, #controllers .btn-default:focus{  /*botões dos ícones da home*/
	background-color: white;
	-webkit-transition: linear 0.3s;
	transition: linear 0.3s;
}

#controllers .btn-lg span{ /*tamanho do ícone nos botões da home*/
	font-size: 48px;
}

.content h1{ /*Títulos das index*/
	margin: 0;
	padding: 0;
}

th{
	background-image: none;
}

th:hover, th:focus, tr:hover, tr:focus, .table-hover>tbody>tr:hover{ /*tabelas de listagem das index*/
	background-color: rgb(238, 210, 17);
}

.table tbody tr td{ /*tabelas de listagem das index*/
	font-size: 1em;
}

.table thead tr th{ /*tabelas de listagem das index*/
	font-size: 1em;
	font-weight: bold;
}

th.asc a, th.desc a{ /*tabelas de listagem das index*/
	background-repeat: no-repeat;
	background-position: center right;
}

.nav li{ /*navegação das páginas index*/
	display: inline-block;
	float: none;
}

.nav a, .nav a:active, .nav a:visited, .nav li input, .nav li input:active, .nav li input:visited{
	padding: 0.8em 1em;
	background-color: rgb(50,50,50);
	color: white;
	text-decoration: none;
	-webkit-transition: linear 0.3s;
	transition: linear 0.3s;
}

.nav a:hover, .nav a:focus, .nav a.create, .nav a.create:active, .nav a.create:visited,
.nav li input:hover, .nav li input:focus, .nav li input.btn-primary, .nav li input.btn-primary:active,
.nav li input.btn-primary:visited{
	color: rgb(50,50,50);
	background-color: rgb(238, 210, 17);
	text-shadow: 0 0 0;
	-webkit-transition: linear 0.3s;
	transition: linear 0.3s;
}

.nav a.create:hover, .nav a.create:focus, .nav li input.btn-primary:hover, .nav li input.btn-primary:focus{
	background-color: rgb(188, 165, 10);
	color: white;
}

.nav a.home, .nav a.create, .nav, .nav li input.btn-primary{
	background-image: none;
	text-indent: 0;
}

.page-header{ /*reetirar a linha sólida do header show cliente*/
	border: 0;
}

.table-responsive table{
	margin-top: 0;
	margin-bottom: 5em;
}

ul.nav-pills li{
	display: block;
	width: 100%;
}

.cliente{
	display: none;
}

#Perfil{
	display: block;
}

.grid20 .nav a, .grid20 .nav a:active, .grid20 .nav a:visited{
	background-color: rgb(241, 241, 241);
	color: rgb(50, 50, 50);
}

.grid20 .nav>li>a:focus, .grid20 .nav>li>a:hover{
	background-color: rgb(238, 210, 17);
}

.scaffold-list h1, .scaffold-list .nav, .scaffold-show h1, .scaffold-show .nav{
	display: inline-block;
}

.scaffold-list, .scaffold-show{
	margin: 5em 0 1em 0;
}

.scaffold-list .nav, .scaffold-show .nav{
	float: right;
}

.content h1{ /*página show de exercício*/
	border: 0;
}

#div-imc, #membro-superior, #pre-membro, #div-corpo, #div-coxa{
	display: inline-block;
}

.pre-questionario{
	margin-bottom: 3em;
	text-align: center;
}

.questao{
	border: solid;
}

.questao{
	border-radius: 5px;
	border-left: 6px solid yellow;
	margin-bottom: 2em;
}

.btn-default{
	background-color: rgb(200,200,200);
}

.alternativas{
	display: none;
}
